<div class="jumbotron">
    <h1>Bizfitech</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>User Account</h2>
        <p>'/api/v1/users/12345678/accounts'</p>
        <p><a class="btn btn-default" href="/api/v1/users/12345678/accounts" target="_blank">Check Account</a></p>
    </div>
    <div class="col-md-3">
        <h2>All Transactions</h2>
        <p>'/api/v1/transactions/12345678/all'</p>
        <p><a class="btn btn-default" href="/api/v1/transactions/12345678/all" target="_blank">View Transactions</a></p>
    </div>
    <div class="col-md-3">
        <h2>Credit Transactions</h2>
        <p>'/api/v1/transactions/12345678/credit'</p>
        <p><a class="btn btn-default" href="/api/v1/transactions/12345678/credit" target="_blank">View Transactions</a></p>
    </div>
    <div class="col-md-3">
        <h2>Debit Transactions</h2>
        <p>'/api/v1/transactions/12345678/debit'</p>
        <p><a class="btn btn-default" href="/api/v1/transactions/12345678/debit" target="_blank">View Transactions</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="text" placeholder="Enter the account number" id="txtAccountNumber"/>
        <button id="btnTransactions" class="btn btn-sm btn-primary" type="button">Get transactions</button>
    </div>
    <div class="col-md-4">
        <form id="transactionTypeRadioForm">
            <input type="radio" id="allType" name="transactionType" value="all" checked> All<br>
            <input type="radio" id="debitType" name="transactionType" value="debit"> Debit<br>
            <input type="radio" id="creditType" name="transactionType" value="credit"> Credit
        </form> 
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Transactions
            </div>
            <div class="panel-body">
                <table class="table table-bordered" id="Table">
                    <tr>
                        <th>Transaction Information</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Booked Date</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
