<div class="jumbotron">
    <h1>Bizfitech</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>User Account</h2>
        <p>'/api/v1/users/12345678/accounts'</p>
        <p><a class="btn btn-default" href="/api/v1/users/12345678/accounts" target="_blank">Check Account</a></p>
    </div>
    <div class="col-md-3">
        <h2>All Transactions</h2>
        <p>'/api/v1/transactions/12345678/all'</p>
        <p><a class="btn btn-default" href="/api/v1/transactions/12345678/all" target="_blank">View Transactions</a></p>
    </div>
    <div class="col-md-3">
        <h2>Credit Transactions</h2>
        <p>'/api/v1/transactions/12345678/credit'</p>
        <p><a class="btn btn-default" href="/api/v1/transactions/12345678/credit" target="_blank">View Transactions</a></p>
    </div>
    <div class="col-md-3">
        <h2>Debit Transactions</h2>
        <p>'/api/v1/transactions/12345678/debit'</p>
        <p><a class="btn btn-default" href="/api/v1/transactions/12345678/debit" target="_blank">View Transactions</a></p>
    </div>
</div>